%h1
  Welcome To Marvel Universe
%h2
  An application created by
  %a{href: 'https://www.techcareerbooster.com/?utm_source=tcb_web_app&utm_medium=marvelu_web_app&utm_campaign=general'} Tech Career Booster
%hr
